@model IEnumerable<ProductModel>
@{
    Layout = "_CommonLayout";
}
@{
    ViewData["Title"] = "Search";
}

<div class="row-side">
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted">"@ViewData["ProductSearchName"]" search result</h2>
                <hr />
            </div>
        </div>
        <div class="row" style="margin-top: 8px;"> <!-- main content -->
            @if (Model.Count() > 0)
            {
                @foreach (var product in Model)
                {
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card">
                            <center>
                                <a href="/Home/Product/@product.Id">
                                    @if (product.ProductImage != null)
                                    {
                                        <img class="card-img-top img-fluid" src="@product.ProductImage" alt="@product.Name" />
                                    }
                                    else
                                    {
                                        <img class="card-img-top img-fluid" src="/images/system/no-image.png" alt="@product.Name" />
                                    }
                                </a>
                            </center>
                            <div class="card-block">
                                <a href="/Home/Product/@product.Id" class="card-title text-muted" title="@product.Name">@product.Name</a>
                                <div class="card-text">@product.Price.ToString("C2")</div>
                            </div>
                            <div class="card-footer">
                                <form asp-area="" asp-controller="Cart" asp-action="Add" method="post">
                                    <input type="hidden" value="@product.Id" name="id" />
                                    <button type="submit" id="addToCart" class="btn btn-primary btn-sm">Add to cart</button>
                                    @if (product.Rating > 0)
                                    {
                                        <div class="float-right">
                                            <i class="fa fa-star star-active"></i>
                                            <span>@product.Rating.ToString("N2")</span>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-md-12">
                    <h5>Product not found</h5>
                </div>
            }
        </div>
    </div>
    <table>
                    <tr>
                        <td colspan="5">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
                        </td>
                    </tr>
                    </table>
</div>

<script>
    // recheck all selected filters
    $(function () {
        let sortKey = @Json.Serialize(ViewData["SortKey"]);
        $.each(sortKey, function(index, value){
            $("[id='" + value + "']").prop('checked', true);
        });
    });

    $(function(){
        $('.badge-delete').on('click', function() {
            let idToDelete = $(this).data('value');
            $(this).parent().remove();
            $("[id='" + idToDelete + "']").prop('checked', false);
            $('#filterForm').submit(); // submit form from file Views/Shared/Components/Filter/Default.cshtml
        });
    });

   
</script>
